<section class=" landing-section bg-black h-screen w-screen text-center relative overflow-hidden">
    <div class="relative z-30 h-full flex flex-col  ">
        <header class="flex flex-col">
        <h2 class="text-black pt-36 font-medium text-[40px]">Accesorios</h2>

    </header>
    <footer class=" flex flex-col flex-grow justify-end pb-11">
        <div class="inline-block m-2">
        <a class=" border-[3px] border-black text-sm rounded font-medium bg-black text-white px-11 py-2 hover:bg-gray-500  hover:border-gray-500 transition-colors duration-1 m-5"  href="">Explorar inventario</a>
        
    </div>
    </footer>
    </div>
    
    
    
    <div class="absolute top-0 bottom-0 h-full w-full ">
    <img  class=" object-center object-cover w-full  h-full"  src="./Accesorios.avif"></img>
</div>
</section>