<section class=" landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="white">
    <div class="relative z-30 h-full flex flex-col  ">
        <header class="flex flex-col">
        <h2 class="text-white pt-36 font-medium text-[40px]">Vive la experiencia Tesla</h2>
    <p class="text-white text-medium  ">Agenda una demostración de manejo hoy</p>
    </header>
    <footer class=" flex flex-col flex-grow justify-end pb-20">
        <div class="inline-block">
        <a class=" border-[3px] border-white text-sm rounded font-medium bg-white/5 backdrop:blur-sm text-white px-8 py-2 hover:bg-white hover:text-black transition-colors duration-1"  href="">Demostración de manejo</a>
    </div>
    </footer>
    </div>
    
    
    
    <div class="absolute top-0 bottom-0 h-full w-full ">
    <video  class=" object-center object-cover w-full  h-full"  autoplay muted loop src="./Video.webm"></video>
</div>
</section>